body {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
}

.chat-title {
	font-size: 3rem;
	text-align: center;
	font-weight: 800;
}

#cat-chat {
	flex-grow: 1;
}