.scaffold {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--app-space-s);

  .content {
    position: relative;
    padding: var(--app-side-space);
    max-width: var(--app-max-content-width);
    width: 100%;
    margin: 0 auto;
  }

  .error {
    text-align: center;

    header {
      display: flex;
      gap: var(--app-space-m);
      margin-bottom: var(--app-space-m);
      justify-content: center;
    }

    h1 {
      @include typography-title(var(--app-text-size-3));
    }

    h2 {
      @include typography-title;
      color: var(--app-palette-accent);
    }
  }
}
