@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__fastest {
  -webkit-animation-duration: calc(1s / 4);
  animation-duration: calc(1s / 4);
  -webkit-animation-duration: calc(var(--animate-duration) / 4);
  animation-duration: calc(var(--animate-duration) / 4);
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url("/Alegreya.ttf") format("ttf");
}

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: normal;
  font-display: optional;
  src: url("/Alegreya-Italic.ttf") format("ttf");
}

@layer base {
  html {
    font-family: "Alegreya", system-ui, sans-serif;
  }
}

@layer components {
  .btn-outline {
    @apply border-2;
  }
  .btn {
    @apply text-base-100;
  }
  .btn-sm {
    @apply leading-5;
  }
  .btn-ghost {
    @apply text-neutral;
  }
  .btn-outline.btn-error:hover, .btn-outline.btn-success:hover, 
  .btn-outline.btn-info:hover, .btn-outline.btn-warning:hover {
    @apply text-base-100;
  }
  .btn-error:hover:not(.btn-outline), .btn-error.btn-active:not(.btn-outline), 
  .btn-info:hover:not(.btn-outline), .btn-info.btn-active:not(.btn-outline),
  .btn-success:hover:not(.btn-outline), .btn-success.btn-active:not(.btn-outline), 
  .btn-warning:hover:not(.btn-outline), .btn-warning.btn-active:not(.btn-outline) {
    @apply brightness-[0.85];
  }
  .btn-outline {
    @apply border-2;
  }
  .checkbox {
    @apply border-2;
  }
  .select, .input {
    @apply outline outline-offset-2 outline-2 border-0 !ring-0 !transition-all;
  }
  .select-sm {
    @apply !leading-[0.999rem];
  }
  .toggle {
    @apply !bg-none !border-2;
  }
}

body {
  scrollbar-color: #27272a #f4f4f5;
}

[data-theme="dark"] body {
  scrollbar-color: #f4f4f5 #27272a;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #f4f4f5;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #27272a;
}