.message {
  position: relative;
  @include typography-text;
  animation: AFadeIn 350ms var(--app-easing-fn);
  animation-iteration-count: 1;

  display: flex;

  @include tablet-landscape-view {
    max-width: 80%;
  }

  .content p:only-child {
    margin: 0;
  }

  &.user {
    align-self: flex-end;
    border-radius: var(--app-border-radius-lg) 0 var(--app-border-radius-lg) var(--app-border-radius-lg);
    background: linear-gradient(180deg, #1E1E1E 0%, #555 100%);
    color: var(--app-palette-white);
    padding: var(--app-space-s);
  }

  &.bot {
    align-self: flex-start;
    gap: var(--app-space-s);

    .avatar {
      @include typography-action;
      font-size: var(--app-text-size-2);
    }

    .content {
      border-radius: 0 var(--app-border-radius-lg) var(--app-border-radius-lg) var(--app-border-radius-lg);
      background: var(--app-palette-white);
      padding: var(--app-space-s);
      box-shadow: var(--app-shadow);
    }
  }

  + .message {
    margin-top: var(--app-space-m);
  }
}

@keyframes AFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


// definitions for markdown
.message {
  h1, h2, h3, h4, h5, h6 {
    color: var(--app-palette-white);
  }

  table {
    background: var(--app-palette-white);
    color: var(--app-palette-black);
    padding: 0 var(--app-space-2xs);
    border-radius: var(--app-border-radius-lg);
  }

  a {
    color: var(--app-palette-info);
  }

  img {
    width: 50%
  }

  pre {
    background: var(--app-palette-light-grey);
    color: var(--app-palette-black);
    padding: var(--app-space-2xs);
    border-radius: var(--app-border-radius-lg);
  }

  p {
    code {
      background: var(--app-palette-light-grey);
      color: var(--app-palette-black);
      padding: 0 var(--app-space-2xs);
      border-radius: var(--app-border-radius-lg);
    }
  }
}
