__pycache__
.env
*mypy_cache

# python local dev
core/venv

.DS_Store
.idea
.vscode

# DBs
long_term_memory
*metadata.db
*metadata-v*.db

# old admin folder
admin

# plugins are not tracked by git
core/cat/plugins/*
# plugins readme can stay
!core/cat/plugins/how-to-write-a-plugin.md

# static server content
core/static/*
