__pycache__
.env
*mypy_cache
*.pytest_cache

# python local dev
venv
.venv

.DS_Store
.idea
.vscode

# DBs
long_term_memory
local_vector_memory
/core/dormouse/*
*metadata.db
*metadata-v*.db
*metadata.json
*metadata-test.json
test_db.db

# old admin folder
admin

# data folder (settings and models)
core/cat/data/*
!core/cat/data/.gitkeep

# plugins are not tracked by git
core/cat/plugins/*
# plugins readme can stay
!core/cat/plugins/how-to-write-a-plugin.md

# tests plugin folder
plugin_folder

# cache embedder
core/local_cache/*

