# python 
__pycache__
*.egg-info
.env
*mypy_cache
*.pytest_cache
venv
.venv
.DS_Store
.idea
/dist/

# agents
.claude/
openspec
AGENTS.md
CLAUDE.md

# installation folders
/data/
/plugins/
/static/

# testing folder (should be removed automatically)
/mocks/

# cache embedder
src/local_cache/*

