.spinner {
  animation: spin 1s linear infinite;

  path {
    stroke: var(--app-palette-accent);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
