.scaffold {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--app-side-space);

  .content {
    position: relative;
    height: 100%;
    max-height: 100%;
    flex: 1;
  }
}
