.messages {
  position: relative;

  .messageList {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .thinking {
    margin-bottom: 0;
  }

  .error {
    padding: var(--app-space-s);
    border: 1px solid var(--app-palette-accent);
    border-radius: var(--app-border-radius);
  }
}
