.messages {
  position: relative;

  .messageList {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .thinking {
    margin-bottom: 0;
  }

  .alert {
    margin-top: var(--app-space-s);
  }
}
