.home {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
  }

  .messages {
    padding-bottom: calc(var(--app-space-s) + 70px);
  }

  .bottomToolbar {
    position: fixed;
    inset: auto var(--app-space-s) var(--app-space-s) var(--app-space-s);
    z-index: 1;
    display: flex;
    gap: var(--app-space-s);

    @include tablet-landscape-view {
      max-width: 960px;
      width: 100%;
      left: calc(50% - 480px);
    }

    .input {
      flex: 1;
    }
  }
}
