python-multipart==0.0.6
fastapi==0.93.0
fastapi-utils==0.2.1
websockets==10.4
SQLAlchemy==1.4.41
sqlmodel==0.0.8
pandas==1.5.3
scikit-learn==1.2.1
qdrant_client==1.1.2
langchain==0.0.155
openai==0.27.5
cohere==4.0.4
huggingface-hub==0.13.2
beautifulsoup4==4.12.0
pdfminer.six==20221105
unstructured==0.5.7
tiktoken==0.3.3
