.defaultMessages {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    cursor: pointer;
    @include typography-text;
    padding: var(--app-space-xs) var(--app-space-s) ;
    background: white;
    box-shadow: var(--app-shadow);
    border: 0;
    outline: 0;
    border-radius: 99px;

    + button {
      margin-top: var(--app-space-s);
    }
  }
}
