.notificationStack {
  position: fixed;
  top: var(--app-space-xl); /* otherwise the notification stays on top of nav links */
  right: 0;

  &.hasNotifications {
    padding: var(--app-space-s);
    z-index: 10;
  }

  .notification {
    padding: var(--app-space-s);
    border-radius: var(--app-border-radius-lg);
    background: var(--app-palette-info);
    color: var(--app-palette-white);
    box-shadow: var(--app-shadow);
    animation: ANotificationIn 0.3s ease-in-out;

    &.info {
      background: var(--app-palette-info);
      color: var(--app-palette-white);
    }

    &.success {
      background: var(--app-palette-success);
      color: var(--app-palette-black);
    }

    &.error {
      background: var(--app-palette-danger);
      color: var(--app-palette-white);
    }

    & + .notification {
      margin-top: var(--app-space-s);
    }
  }
}

@keyframes ANotificationIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
