
#content {
    padding: 0% 20%;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    width: 100px;
    height: 100px;
}

#users-list {
  padding: 10px;
}

#user-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-create-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #ccc;
}

input {
    width: 100px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}

.error-message {
    color: red;
}