#logo {
    width: 200px;
    height: 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin: 10px;
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button.active {
    background-color: #333333;
}

.error-message {
    color: red;
}
