.home {
  position: relative;
  max-width: 960px;
  margin: 0 auto;

  .messages {
    padding-bottom: calc(var(--app-space-s) + 70px);
  }

  .input {
    position: fixed;
    inset: auto var(--app-space-s) var(--app-space-s) var(--app-space-s);
    z-index: 1;

    @include tablet-landscape-view {
      max-width: 960px;
      width: 100%;
      inset: auto auto var(--app-space-s) auto;
    }
  }
}
