.home {

  .messages {
    padding-bottom: calc(var(--app-space-s) + 70px);
  }

  .bottomToolbar {
    position: fixed;
    inset: auto var(--app-space-s) var(--app-space-s) var(--app-space-s);
    z-index: 1;
    display: flex;
    gap: var(--app-space-s);

    @include tablet-landscape-view {
      max-width: 960px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .input {
      flex: 1;
    }
  }
}
