.home {
  position: relative;

  .messages {
    padding-bottom: calc(var(--app-space-s) + 70px);
  }

  .bottomToolbar {
    position: fixed;
    inset: auto var(--app-space-s) var(--app-space-s) var(--app-space-s);
    z-index: 1;
    display: flex;
    gap: var(--app-space-s);
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 500ms var(--app-easing-fn), transform 500ms var(--app-easing-fn);

    @include tablet-landscape-view {
      max-width: 960px;
      width: 100%;
      left: calc(50% - 480px);
    }

    .input {
      flex: 1;
    }

    &.inputIn {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
