.nav {
  padding: var(--app-space-s);
  max-width: 100%;

  ul {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        opacity: 0.45;
        transition: opacity var(--app-animation-duration) var(--app-easing-fn);
        @include typography-action;


        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }
  }

  &.horizontal ul {
    flex-direction: row;
    gap: var(--app-space-s)
  }

  &.vertical ul {
    flex-direction: column;
    gap: var(--app-space-s);
    align-items: center;
  }
}
