.closeBtn {
  appearance: none;
  background: none;
  cursor: pointer;
  border: none;
  outline: 0;
  background: transparent;
  padding: 5px;
  border-radius: 999px;
  width: 32px;
  height: 32px;
  align-items: center;
  display: flex;
  transition: transform var(--app-animation-duration) var(--app-easing-fn), background var(--app-animation-duration) var(--app-easing-fn);

  &:hover {
    transform: rotate(90deg);
    background: var(--app-palette-neutral);
  }
}
