.alert {
  padding: var(--app-space-s);
  border-radius: var(--app-border-radius-lg);

  &.info {
    background: var(--app-palette-accent);
    color: white;
  }

  &.error {
    background: var(--app-palette-danger);
    color: white;
  }
}
