.toolbar {
  display: flex;
  align-items: center;
  background: var(--app-palette-neutral);

  .title {
    h1 {
      @include typography-title;
      margin: 0;
      font-size: var(--app-text-size-1);
    }

    flex: 1;
  }

  button {
    justify-self: flex-end;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 0;
    background: transparent;
    @include transition(transform);

    &:hover {
      transform: rotate(320deg);
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.25;
    }
  }
}
