.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    appearance: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 0;
    background: transparent;
    @include transition(transform);

    &:hover {
      transform: rotate(320deg);
    }
  }
}
