.messageInput {
  box-shadow: var(--app-shadow);
  display: flex;
  align-items: center;
  background: var(--app-palette-white);
  border-radius: var(--app-border-radius-lg);
  padding: var(--app-space-xs) var(--app-space-s);
  position: relative;
  gap: var(--app-space-xs);

  &:has(textarea:focus) {
    box-shadow: 0 4px 2px 0 #0000000D, 0 4px 20px 0 #00000015;
    margin: -1px;
    background: linear-gradient(white, white) padding-box, linear-gradient(180deg, rgba(92, 30, 174, 0.6) 0%, rgba(219, 0, 255, 0.6) 100%) border-box;
    border: 1px solid transparent;
  }

  &:has(textarea[disabled]) {
    background: var(--app-palette-neutral);
    cursor: not-allowed;
  }

  input[type=file] {
    display: none;
  }

  textarea {
    background: transparent;
    resize: none;
    width: 100%;
    height: 22px;
    line-height: 1.4;
    overflow-y: hidden;
    outline: none;
    border: 0;
    padding: 0;
    letter-spacing: 0.045rem;
  }


  button {
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &[disabled] {
      opacity: 0.25;
      cursor: not-allowed;
    }

    svg {
      width: 22px;
      fill: none;

      path {
        stroke: var(--app-palette-black);
      }
    }
  }

  &.bigger textarea {
    height: 44px;
  }
}
